*{
    margin: 0;
}

.navbar{
    display: flex;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #14213D;

    padding: 10px;
}
.navbar a{
    color: #E5E5E5;
}
.navbar a:hover{
    color: #ff7d01;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-item{
    margin-right: 2rem;
    position: relative;
    text-align: center;
}   

.logo{
    width: 120px;
}

/* --- --- --- ---  */
/*  HAMBURGER MENU  */
/* --- --- --- ---  */

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .navbar .nav-item {
      display: none; /* Hide full nav menu */
}

.hamburger-menu {
    display: block; /* Show hamburger icon */
}
}